{% extends "base.twig" %}

{% block title %}
<title>Sample</title>
{% endblock %}

{% block content %}
<div class="ui container">
    <h1>Welcome</h1>
    <p>Hello World {{ name }}</p>
</div>
{% endblock %}